<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bhanguInsurance</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/supervisa">Supervisa Insurance</a>
            <div class="dropdown">
                <a href="#" class="dropdown-btn">Life Insurance</a>
                <div class="dropdown-content">
                    <a href="/lifeInsurance#critical-insurance">Critical Illness-Insurance</a>
                    <a href="/lifeInsurance">Travel Insurance</a>
                    
                </div>
            </div>
            <!-- <a href="/about">About</a> -->
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h3>Welcome to bhangu Insurance</h3>
            <h1>Jashanpreet Singh Bhangu</h1>
            <h3>Your Trusted <span class="multiple-text">Finacial Advisor</span></h3>
            <p>I, Jashanpreet, am here to guide you through everty step of your journey towards financial security and peace of your mind. Me an and my team commited to safeguad your financial future.</p>
            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i> </a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
        
        <div class="home-img">
            <img src="/images/image-5.jpg" alt="">
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-img">
            <img src="/images/expedia-image.jpeg" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">About <span class="multiple-text">Me</span></h2>
            <h3>Dedicated Financial Advisor</h3>
            <p>I am passionate about helping individuals and families secure their future through tailored insurance solutions. Whether you're looking for supervisa insurance or planning for life's uncertainties, my expertise ensures that you make informed and confident decisions.
            </p>
            <p>
            I am proud to collaborate with <strong>Expedia</strong>, providing top-notch financial advisory services 
            to ensure you receive the best solutions for your unique needs.
        </p>
            <a href="#" class="btn">Read More</a>
        </div>
    </section>

    <section class="services" id="services">
        <h2 class="heading">Our <span class="multiple-text">Services</span></h2>
        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-blanket'></i>
                <h3>Supervisa Insurance</h3>
                <p>Comprehensive supervisa insurance plans to ensure the safety and well-being of your loved ones visiting Canada.
                </p>
                <p>
                    Designed to meet Canadian government requirements, these plans provide complete peace of mind 
                    for visitors during their stay.
                </p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bxs-paint'></i>
                <h3>Life Insurance</h3>
                <p>Protect your family's future with customized life insurance plans that suit your needs and provide long-term security.</p>
                <p>
                    From term plans to whole life coverage, we help you select the right policy to safeguard your loved ones 
                    from financial hardships.
                </p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
                <i class='bx bx-pound'></i>
                <h3>Financial Planning</h3>
                <p>Expert financial planning services to help you achieve your goals, manage risks, 
                    and build a secure financial foundation.</p>
                    <p>
                        Our holistic approach covers budgeting, investments, and retirement planning to ensure a financially 
                        sound future for you and your family.
                    </p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>


 <!--   <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Projects</span></h2>
 
<div class="portfolio-container">

        <div class="portfolio-box">
            <img src="/images/expedia-image.jpeg" alt="">
            <div class="portfolio-layer">
            <h4>Web design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic sunt laboriosam ab repellat? Sit illum eaque ea, ab, error deleniti possimus, expedita maxime eum facere neque dolores eligendi? Similique.</p>
            <a href="#">
                <i class="bx bx-link-external"></i>
            </a>
        </div>
        </div>

        <div class="portfolio-box" id="portfoilo-2">
            <img src="/images/expedia-image.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic sunt laboriosam ab repellat? Sit illum eaque ea, ab, error deleniti possimus, expedita maxime eum facere neque dolores eligendi? Similique.</p>
                <a href="#">
                <i class="bx bx-link-external"></i>
            </a>
        </div>
        </div>

        <div class="portfolio-box">
            <img src="/images/expedia-image.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic sunt laboriosam ab repellat? Sit illum eaque ea, ab, error deleniti possimus, expedita maxime eum facere neque dolores eligendi? Similique.
          </p>
          <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="/images/expedia-image.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic sunt laboriosam ab repellat? Sit illum eaque ea, ab, error deleniti possimus, expedita maxime eum facere neque dolores eligendi? Similique.
          </p>
          <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="/images/expedia-image.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic sunt laboriosam ab repellat? Sit illum eaque ea, ab, error deleniti possimus, expedita maxime eum facere neque dolores eligendi? Similique.
          </p>
          <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="/images/expedia-image.jpeg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic sunt laboriosam ab repellat? Sit illum eaque ea, ab, error deleniti possimus, expedita maxime eum facere neque dolores eligendi? Similique.
          </p>
          <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

    </div>
    </section> -->

    <!-- <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>
<form action="" >
    <div class="input-box">
        <div class="input-field field">
            <input type="text" class="item" id="name" placeholder="Full Name">
            <div class="error-txt">Full Name can't be blank</div>
        </div>

        <div class="input-field field">
            <input type="email" class="item" id="email" placeholder="Email Address">
            <div class="error-txt">Email Can't be blank</div>
          </div>
        </div>

          <div class="input-box">
            <div class="input-field field">
              <input type="number" class="item" id="phone" placeholder="Mobile Number">
              <div class="error-txt">Phone number can't be blank</div>
            </div>
    
            <div class="input-field field">
              <input type="text" class="item" id="subject" placeholder="Email Subject">
              <div class="error-txt">Email Can't be blank</div>
            </div>
           </div>

           <div class="textarea field">

            <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message" class="item"></textarea>
        
            <div class="error-txt">Textarea can't be blank</div>
          </div>
          <input type="submit" value="Send Message" class="btn">
        </form>
    </section> -->

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 by Dharampreet Singh Sandhu | All Rights Reserved</p></p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt' ></i></a>
        </div>
    </footer>
</body>
</html>